---
import BaseLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.svelte'
---
<BaseLayout>

  <Section client:load
    name="movie"
    apiPath="/movie"
    listItemTitle="Movie Title"
    sectionTitle="Random movie poster"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 4 4 L 4 28 L 28 28 L 28 4 Z M 6 6 L 8 6 L 8 7 L 10 7 L 10 6 L 22 6 L 22 7 L 24 7 L 24 6 L 26 6 L 26 26 L 24 26 L 24 25 L 22 25 L 22 26 L 10 26 L 10 25 L 8 25 L 8 26 L 6 26 Z M 8 9 L 8 11 L 10 11 L 10 9 Z M 22 9 L 22 11 L 24 11 L 24 9 Z M 8 13 L 8 15 L 10 15 L 10 13 Z M 22 13 L 22 15 L 24 15 L 24 13 Z M 8 17 L 8 19 L 10 19 L 10 17 Z M 22 17 L 22 19 L 24 19 L 24 17 Z M 8 21 L 8 23 L 10 23 L 10 21 Z M 22 21 L 22 23 L 24 23 L 24 21 Z"/></svg>'
  />
  <Section client:load
    name="game"
    apiPath="/game"
    listItemTitle="Game Title"
    sectionTitle="Random game cover"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 16 7 C 9.617188 7 4.03125 9.0625 4.03125 9.0625 L 3.4375 9.28125 L 3.375 9.875 L 2.03125 20.125 C 1.667969 22.960938 3.695313 25.605469 6.53125 25.96875 C 9.171875 26.308594 11.539063 24.527344 12.15625 22 L 19.84375 22 C 20.464844 24.527344 22.828125 26.308594 25.46875 25.96875 C 28.304688 25.605469 30.332031 22.960938 29.96875 20.125 L 28.625 9.875 L 28.5625 9.28125 L 27.96875 9.0625 C 27.96875 9.0625 22.382813 7 16 7 Z M 16 9 C 21.484375 9 26.007813 10.523438 26.75 10.78125 L 27.96875 20.40625 C 28.195313 22.167969 26.980469 23.742188 25.21875 23.96875 C 23.457031 24.195313 21.851563 22.980469 21.625 21.21875 L 21.59375 20.875 L 21.46875 20 L 10.53125 20 L 10.40625 20.875 L 10.375 21.21875 C 10.148438 22.980469 8.542969 24.195313 6.78125 23.96875 C 5.019531 23.742188 3.804688 22.167969 4.03125 20.40625 L 5.25 10.78125 C 5.992188 10.523438 10.515625 9 16 9 Z M 9 12 L 9 14 L 7 14 L 7 16 L 9 16 L 9 18 L 11 18 L 11 16 L 13 16 L 13 14 L 11 14 L 11 12 Z M 22 12 C 21.449219 12 21 12.449219 21 13 C 21 13.550781 21.449219 14 22 14 C 22.550781 14 23 13.550781 23 13 C 23 12.449219 22.550781 12 22 12 Z M 20 14 C 19.449219 14 19 14.449219 19 15 C 19 15.550781 19.449219 16 20 16 C 20.550781 16 21 15.550781 21 15 C 21 14.449219 20.550781 14 20 14 Z M 24 14 C 23.449219 14 23 14.449219 23 15 C 23 15.550781 23.449219 16 24 16 C 24.550781 16 25 15.550781 25 15 C 25 14.449219 24.550781 14 24 14 Z M 22 16 C 21.449219 16 21 16.449219 21 17 C 21 17.550781 21.449219 18 22 18 C 22.550781 18 23 17.550781 23 17 C 23 16.449219 22.550781 16 22 16 Z"/></svg>'
  />
  <Section client:load
    name="album"
    apiPath="/album"
    height={150}
    listItemTitle="Name"
    sectionTitle="Random album cover"
    sectionIcon='<svg class="w-8 h-8 stroke-current text-primary" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-j</title><path d="M192,218v-6c0-14.84,10-27,24.24-30.59l174.59-46.68A20,20,0,0,1,416,154V176" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M416,295.94v80c0,13.91-8.93,25.59-22,30l-22,8c-25.9,8.72-52-10.42-52-38h0a33.37,33.37,0,0,1,23-32l51-18.15c13.07-4.4,22-15.94,22-29.85V58a10,10,0,0,0-12.6-9.61L204,102a16.48,16.48,0,0,0-12,16v226c0,13.91-8.93,25.6-22,30l-52,18c-13.88,4.68-22,17.22-22,32h0c0,27.58,26.52,46.55,52,38l22-8c13.07-4.4,22-16.08,22-30v-80" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>'
  />
  <Section client:load
    name="book"
    apiPath="/book"
    listItemTitle="Book Title"
    sectionTitle="Random book cover"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 9 4 C 7.355469 4 6 5.355469 6 7 L 6 25 C 6 26.644531 7.355469 28 9 28 L 26 28 L 26 4 Z M 9 6 L 24 6 L 24 22 L 9 22 C 8.648438 22 8.316406 22.074219 8 22.1875 L 8 7 C 8 6.433594 8.433594 6 9 6 Z M 11 9 L 11 11 L 22 11 L 22 9 Z M 9 24 L 24 24 L 24 26 L 9 26 C 8.433594 26 8 25.566406 8 25 C 8 24.433594 8.433594 24 9 24 Z"/></svg>'
  />
  <Section client:load
    name="face"
    apiPath="/face"
    height={150}
    listItemTitle="Name"
    sectionTitle="Random face picture"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1019 1575q-101 0-199.5-26t-187-74.5T469 1357t-127-156q-17-26-17-56 0-21 8-40t22.5-33 33-22 39.5-8q28 0 50 13t38 36q94 136 220.5 207t295.5 71q160 0 286.5-74.5T1534 1091q15-22 35.5-35.5t48.5-13.5q45 0 76 28t31 75q0 15-4 27.5t-12 25.5q-24 44-57.5 82t-69.5 73q-115 109-260 165.5t-303 56.5zM815 579q0 33-13 63t-35 52.5-51.5 35.5-63.5 13-63.5-13-51.5-35-35-51.5-13-63.5 12.5-64 34.5-52.5 51.5-35.5 63.5-13 63.5 13 52 35.5 35.5 52 13 63.5zm420 0q0-34 13-64t35-52 52-35 64-13 63.5 13 51.5 35.5 34.5 52T1561 579t-13 63.5-35 52-51.5 35.5-63.5 13-63.5-13-51.5-35.5-35-52-13-63.5z"/></svg>'
  />
  <Section client:load
    name="fashion"
    apiPath="/fashion"
    height={150}
    listItemTitle="Image title"
    sectionTitle="Random fashion picture"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 16 3 C 15.074219 3 14.054688 3.269531 13.1875 3.53125 C 12.335938 3.789063 11.710938 4.054688 11.6875 4.0625 C 11.6875 4.0625 11.65625 4.0625 11.65625 4.0625 L 8.78125 5.03125 L 8.6875 5.0625 C 8.628906 5.078125 8.535156 5.105469 8.3125 5.1875 L 8 5.28125 L 8 5.3125 C 7.164063 5.671875 5.855469 6.449219 5.09375 8.0625 C 4.058594 10.25 4 12.96875 4 12.96875 L 4 15 L 8 15 L 8 29 L 24 29 L 24 15 L 28 15 L 28 12.90625 C 28 12.90625 27.914063 12.058594 27.75 11.03125 C 27.585938 10.003906 27.417969 8.871094 26.84375 7.96875 C 25.910156 6.5 24.75 5.753906 24 5.375 L 24 5.28125 L 23.59375 5.15625 C 23.535156 5.128906 23.546875 5.144531 23.5 5.125 L 23.3125 5.0625 L 20.34375 4.0625 C 20.34375 4.0625 20.3125 4.0625 20.3125 4.0625 C 20.289063 4.054688 19.664063 3.789063 18.8125 3.53125 C 17.945313 3.269531 16.925781 3 16 3 Z M 16 5 C 16.433594 5 17.425781 5.230469 18.21875 5.46875 C 18.425781 5.53125 18.414063 5.535156 18.59375 5.59375 C 18.53125 5.6875 18.484375 5.777344 18.40625 5.875 C 17.9375 6.457031 17.28125 7 16 7 C 14.71875 7 14.0625 6.457031 13.59375 5.875 C 13.515625 5.777344 13.46875 5.6875 13.40625 5.59375 C 13.585938 5.535156 13.574219 5.53125 13.78125 5.46875 C 14.574219 5.230469 15.566406 5 16 5 Z M 11.4375 6.21875 C 11.585938 6.503906 11.777344 6.808594 12.03125 7.125 C 12.769531 8.042969 14.09375 9 16 9 C 17.90625 9 19.230469 8.042969 19.96875 7.125 C 20.222656 6.808594 20.414063 6.503906 20.5625 6.21875 L 22 6.71875 L 22 27 L 10 27 L 10 6.71875 Z M 8 7.5625 L 8 13 L 6 13 C 6.003906 12.945313 6.15625 10.523438 6.90625 8.9375 C 7.207031 8.300781 7.605469 7.859375 8 7.5625 Z M 24 7.71875 C 24.367188 8.027344 24.773438 8.429688 25.15625 9.03125 C 25.316406 9.285156 25.628906 10.40625 25.78125 11.34375 C 25.925781 12.230469 25.992188 12.921875 26 13 L 24 13 Z"/></svg>'
  />
  <Section client:load
    name="shoes"
    apiPath="/shoes"
    height={150}
    listItemTitle="Image title"
    sectionTitle="Random shoes picture"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 10 3 C 7.804688 3 6.203125 4.605469 5.28125 6.5 C 4.359375 8.394531 3.960938 10.679688 4 12.6875 C 4.046875 15.019531 5.0625 17.375 5.0625 17.375 L 5.34375 18 L 13.75 18 L 13.96875 17.25 C 13.96875 17.25 14.757813 14.308594 14.96875 11.5 C 15.050781 10.394531 15.015625 8.472656 14.40625 6.65625 C 14.101563 5.746094 13.660156 4.855469 12.9375 4.15625 C 12.214844 3.457031 11.1875 3 10 3 Z M 22 3 C 20.8125 3 19.785156 3.457031 19.0625 4.15625 C 18.339844 4.855469 17.898438 5.746094 17.59375 6.65625 C 16.984375 8.472656 16.949219 10.394531 17.03125 11.5 C 17.242188 14.308594 18.03125 17.25 18.03125 17.25 L 18.25 18 L 26.65625 18 L 26.9375 17.375 C 26.9375 17.375 27.953125 15.019531 28 12.6875 C 28.039063 10.679688 27.640625 8.394531 26.71875 6.5 C 25.796875 4.605469 24.195313 3 22 3 Z M 10 5 C 10.703125 5 11.128906 5.203125 11.53125 5.59375 C 11.933594 5.984375 12.292969 6.605469 12.53125 7.3125 C 13.003906 8.726563 13.0625 10.527344 13 11.375 C 12.835938 13.550781 12.316406 15.371094 12.15625 16 L 6.71875 16 C 6.476563 15.316406 6.027344 13.984375 6 12.65625 C 5.964844 10.960938 6.355469 8.894531 7.09375 7.375 C 7.832031 5.855469 8.769531 5 10 5 Z M 22 5 C 23.230469 5 24.167969 5.855469 24.90625 7.375 C 25.644531 8.894531 26.03125 10.960938 26 12.65625 C 25.972656 13.984375 25.523438 15.316406 25.28125 16 L 19.84375 16 C 19.683594 15.371094 19.164063 13.550781 19 11.375 C 18.9375 10.527344 18.996094 8.726563 19.46875 7.3125 C 19.707031 6.605469 20.066406 5.984375 20.46875 5.59375 C 20.871094 5.203125 21.296875 5 22 5 Z M 5 21 L 5 22 C 4.988281 23.378906 5.121094 24.988281 5.8125 26.40625 C 6.503906 27.824219 7.957031 29 10 29 C 12.261719 29 13.980469 26.785156 14 24 C 14.003906 23.355469 13.976563 22.597656 13.75 21.75 L 13.5625 21 Z M 18.4375 21 L 18.25 21.75 C 18.023438 22.597656 17.996094 23.355469 18 24 C 18.019531 26.785156 19.738281 29 22 29 C 24.042969 29 25.496094 27.824219 26.1875 26.40625 C 26.878906 24.988281 27.011719 23.378906 27 22 L 27 21 Z M 7.15625 23 L 11.90625 23 C 11.941406 23.328125 12.003906 23.664063 12 24 C 11.984375 26.023438 10.929688 27 10 27 C 8.621094 27 8.050781 26.464844 7.59375 25.53125 C 7.265625 24.863281 7.226563 23.902344 7.15625 23 Z M 20.09375 23 L 24.84375 23 C 24.773438 23.902344 24.734375 24.863281 24.40625 25.53125 C 23.949219 26.464844 23.378906 27 22 27 C 21.070313 27 20.015625 26.023438 20 24 C 19.996094 23.664063 20.058594 23.328125 20.09375 23 Z"/></svg>'
  />
  <Section client:load
    name="watch"
    apiPath="/watch"
    height={150}
    listItemTitle="Image title"
    sectionTitle="Random watch picture"
    sectionIcon='<svg class="w-8 h-8 stroke-current text-primary" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-r</title><rect x="112" y="112" width="288" height="288" rx="64" ry="64" style="fill:none;stroke-linejoin:round;stroke-width:32px"/><path d="M176,112V40a8,8,0,0,1,8-8H328a8,8,0,0,1,8,8v72" style="fill:none;stroke-linejoin:round;stroke-width:32px"/><path d="M336,400v72a8,8,0,0,1-8,8H184a8,8,0,0,1-8-8V400" style="fill:none;stroke-linejoin:round;stroke-width:32px"/></svg>'
  />
  <Section client:load
    name="furniture"
    apiPath="/furniture"
    height={150}
    listItemTitle="Image title"
    sectionTitle="Random furniture picture"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 11 4 L 11 16.4375 C 10.898438 16.464844 10.777344 16.503906 10.6875 16.53125 C 10.203125 16.679688 9.867188 16.835938 9.625 17 C 9.503906 17.082031 9.390625 17.167969 9.3125 17.25 C 9.234375 17.332031 9.125 17.5 9.125 17.5 L 9 17.71875 L 9 20 L 10 20 L 10 28 L 12 28 L 12 20 L 20 20 L 20 28 L 22 28 L 22 20 L 23 20 L 23 17.71875 L 22.875 17.5 C 22.875 17.5 22.765625 17.332031 22.6875 17.25 C 22.609375 17.167969 22.496094 17.082031 22.375 17 C 22.132813 16.835938 21.796875 16.679688 21.3125 16.53125 C 21.222656 16.503906 21.101563 16.464844 21 16.4375 L 21 4 L 19 4 L 19 5 L 13 5 L 13 4 Z M 13 7 L 15 7 L 15 16.03125 C 14.242188 16.050781 13.5625 16.070313 13 16.125 Z M 17 7 L 19 7 L 19 16.125 C 18.4375 16.070313 17.757813 16.050781 17 16.03125 Z"/></svg>'
  />
  <Section client:load
    name="pizza"
    apiPath="/pizza"
    height={150}
    listItemTitle="Image title"
    sectionTitle="Random pizza picture"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M404.76,123.08C358.37,104.18,309.69,96,256,96S149.9,105,107.1,122.68c-8.08,3.3-15.26,9-10.07,19.5C101.24,150.71,203,375,241.66,455a15.94,15.94,0,0,0,28.72,0L414.43,142.78C417.62,135.88,415.33,127.38,404.76,123.08Z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"/><path d="M436.38,82.68C384.31,62.08,320.17,48,256,48S128.65,60.78,75.48,82.08C70.79,84,62,88.43,64.41,95.88L74.09,120c4,8.2,8.67,8.2,15.06,8.2,1.79,0,4.29-1,7.28-2.18A442.46,442.46,0,0,1,256,96c56.76,0,114.91,12,159.6,30,3.59,1.4,5.59,2.18,7.28,2.18,6.58,0,10.38,2.19,15-8.1L447.65,96C449.66,90,442.66,85.18,436.38,82.68Z" style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px"/><circle cx="192" cy="192" r="32"/><circle cx="320" cy="208" r="32"/><circle cx="256" cy="320" r="32"/></svg>'
  />
  <Section client:load
    name="burger"
    apiPath="/burger"
    height={150}
    listItemTitle="Image title"
    sectionTitle="Random burger picture"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 11 5 C 7.699219 5 5 7.699219 5 11 L 5 11.25 L 3.875 12.75 C 4.230469 13.015625 4.601563 13.191406 5 13.3125 L 5 15.78125 C 4.390625 16.332031 4 17.121094 4 18 C 4 18.878906 4.390625 19.667969 5 20.21875 L 5 23 C 5 24.09375 5.90625 25 7 25 L 25 25 C 26.09375 25 27 24.09375 27 23 L 27 20.21875 C 27.609375 19.667969 28 18.878906 28 18 C 28 17.121094 27.609375 16.332031 27 15.78125 L 27 13.3125 C 27.398438 13.191406 27.769531 13.015625 28.125 12.75 L 27 11.21875 L 27 11 C 27 7.699219 24.300781 5 21 5 Z M 11 7 L 12 7 C 12 7.550781 12.449219 8 13 8 C 13.550781 8 14 7.550781 14 7 L 21 7 C 23.21875 7 25 8.78125 25 11 L 25 11.5 C 24.742188 11.429688 24.503906 11.292969 24.28125 11.125 L 23.75 10.75 L 23.15625 11.09375 L 22.40625 11.53125 C 21.707031 11.949219 20.855469 11.949219 20.15625 11.53125 L 19.40625 11.09375 L 18.9375 10.8125 L 18.4375 11.03125 L 17 11.78125 C 16.378906 12.089844 15.652344 12.089844 15.03125 11.78125 L 13.5625 11.03125 L 13.0625 10.8125 L 12.59375 11.09375 L 11.84375 11.53125 C 11.144531 11.949219 10.292969 11.949219 9.59375 11.53125 L 8.84375 11.09375 L 8.25 10.75 L 7.71875 11.125 C 7.496094 11.292969 7.253906 11.429688 7 11.5 L 7 11 C 7 8.78125 8.78125 7 11 7 Z M 11 8 C 10.449219 8 10 8.449219 10 9 C 10 9.550781 10.449219 10 11 10 C 11.550781 10 12 9.550781 12 9 C 12 8.449219 11.550781 8 11 8 Z M 15 8 C 14.449219 8 14 8.449219 14 9 C 14 9.550781 14.449219 10 15 10 C 15.550781 10 16 9.550781 16 9 C 16 8.449219 15.550781 8 15 8 Z M 8.15625 13 L 8.5625 13.25 C 9.890625 14.046875 11.546875 14.046875 12.875 13.25 L 13.15625 13.0625 L 14.125 13.5625 C 15.304688 14.152344 16.695313 14.152344 17.875 13.5625 L 18.84375 13.0625 L 19.125 13.25 C 20.453125 14.046875 22.109375 14.046875 23.4375 13.25 L 23.84375 13 C 24.21875 13.179688 24.601563 13.292969 25 13.375 L 25 15 L 7 15 L 7 13.375 C 7.398438 13.292969 7.78125 13.179688 8.15625 13 Z M 7 17 L 25 17 C 25.566406 17 26 17.433594 26 18 C 26 18.566406 25.566406 19 25 19 L 7 19 C 6.433594 19 6 18.566406 6 18 C 6 17.433594 6.433594 17 7 17 Z M 7 21 L 25 21 L 25 23 L 7 23 Z"/></svg>'
  />
  <Section client:load
    name="drink"
    apiPath="/drink"
    height={150}
    listItemTitle="Image title"
    sectionTitle="Random drink picture"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 5 5 L 5 6.3398438 L 15 19.339844 L 15 26 L 10 26 L 10 28 L 22 28 L 22 26 L 17 26 L 17 19.339844 L 27 6.3398438 L 27 5 L 5 5 z M 8.03125 7 L 23.96875 7 L 22.429688 9 L 11.919922 9 L 13.458984 11 L 20.892578 11 L 16 17.359375 L 8.03125 7 z"/></svg>'
  />
  <Section client:load
    name="random"
    height={180}
    listItemTitle="title"
    sectionTitle="Random image"
    sectionIcon='<svg class="w-8 h-8 fill-current text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 16 6 C 21.535156 6 26 10.464844 26 16 C 26 21.535156 21.535156 26 16 26 C 10.464844 26 6 21.535156 6 16 C 6 10.464844 10.464844 6 16 6 Z M 16 10 C 13.800781 10 12 11.800781 12 14 L 14 14 C 14 12.882813 14.882813 12 16 12 C 17.117188 12 18 12.882813 18 14 C 18 14.765625 17.507813 15.445313 16.78125 15.6875 L 16.375 15.8125 C 15.558594 16.082031 15 16.863281 15 17.71875 L 15 19 L 17 19 L 17 17.71875 L 17.40625 17.59375 C 18.945313 17.082031 20 15.621094 20 14 C 20 11.800781 18.199219 10 16 10 Z M 15 20 L 15 22 L 17 22 L 17 20 Z"/></svg>'
  />

</BaseLayout>


