---
import Seo from '../components/Seo.svelte'
const {title} = Astro.props;
const {theme} = Astro.props;
import process from 'node:process'
---
<html lang="en" data-theme={theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><text x='0' y='14'>🌠</text></svg>" />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
    <Seo
      title={`${title} - placeholder image generator`}
      desc={`Lorem Ipsum fake image placeholder`}
      img={Astro.site+'card.jpg'}
    />
    {process.env.npm_lifecycle_event === "build" &&
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4812562253949561" crossorigin="anonymous"></script>
    }
    {process.env.npm_lifecycle_event === "build" &&
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-PES38TLB35"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PES38TLB35');
      </script>
    }
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>