---
import Seo from '../components/Seo.svelte'
import process from 'node:process'
import Header from '../components/Header.svelte'
import Aside from '../components/Aside.svelte'
import Footer from '../components/Footer.svelte'
import Hero from '../components/Hero.svelte'
import Ad from '../components/Ad.svelte'
import navItems from '../data/nav.js'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><text x='0' y='14'>🌠</text></svg>" />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
    <Seo
      title={`Lorem.space - placeholder image generator`}
      desc={`Lorem Ipsum fake image placeholder`}
      img={Astro.site+'card.jpg'}
    />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4812562253949561" crossorigin="anonymous"></script>
    {process.env.npm_lifecycle_event === "build" &&
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-N2GS7DRKWC"></script>
    }
    {process.env.npm_lifecycle_event === "build" &&
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-N2GS7DRKWC');
      </script>
    }

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="alert alert-warning shadow-xl fixed top-20 lg:top-6 right-6 bg-warning text-white z-20 text-sm lg:text-base w-auto">
      <div class="gap-4 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <div>
          <div class="font-bold">Lorem.space website will shut down soon 😔</div>
          <div>Run <a class="link" target="_blank" href="https://github.com/manasky/lorem-server">the open-source script</a> on your own server</div>
          <div>Or use another placeholder image generator</div>
        </div>
      </div>
    </div>

    <header class="bg-neutral text-neutral-content">
      <div class="md:hidden">
        <Header
          title="🌠 &nbsp; Lorem.space"
          links={navItems}
        />
      </div>
    </header>
    <div class="flex justify-center w-full">
      <aside class="hidden w-64 flex-0 lg:w-72 md:block bg-neutral text-neutral-content">
        <Aside
          title="🌠 &nbsp; Lorem.space"
          desc="Placeholder image API"
          links={navItems}
        />
      </aside>

      <main class="flex-1 pb-20 overflow-x-auto">
        {Astro.site.toString() === Astro.request.url.toString() &&
          <div class="bg-[#9b3896] text-white bg-cover min-h-[50vh] bg-bottom" style="background-image: url(/bg.jpg);">
            <Hero
              client:load
              title="API for placeholder images"
              desc="but useful!"
            />
          </div>
        }
        <div class="flex justify-center px-5 py-6"><Ad/></div>
        <slot />

        {Astro.site.toString() === Astro.request.url.toString() &&
          <div class="flex justify-center px-5 pt-6"><Ad/></div>
        }
      </main>
    </div>

    <Footer
      title="Lorem.space"
      contact="hi@lorem.space"
    />

  </body>
</html>
